* {
    margin: 0;
    padding: 0;
}

body {
    width: 400px;
    height: auto;
    margin: 15px;
    background-color: #FFF;
}

.headerH1Box {
    width: 75%;
    padding: 10px;
    margin: auto;
    background-color: #00AF98;
    border-radius: 8px;
}

h1 {
    font-size: 16px;
    color: #FFF;
    text-align: center;
}

table {
    margin: 15px 5px;
    width: 390px;
    border-collapse: collapse;
}

th {
    line-height: 20px;
    text-align: start;
    padding: 10px 15px;
    color: #FFF;
    background-color: #636363;
}

td {
    line-height: 20px;
    text-align: start;
    padding: 5px 15px;
}

tr:nth-child(2n+2) {
    background-color: #F1F1F1;
}

tr:nth-child(2n+1) {
    background-color: #CFCFCF;
}

#tcpacTableRowLast {
    background-color: #FFF;
}

button {
    padding: 5px 10px;
    color: #FFF;
    background-color: #0275d8;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease-out 0s;
}

button:hover {
    color: #000;
    background-color: #ffe600;
}

.centerDiv {
    margin: auto;
    text-align: center;
}

a, a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #0275d8;
}